.basket {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #fff;
  max-width: 400px;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: -4px 0 20px rgba(0, 0, 0, 0.1);
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.items {
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 20px;
}

.price {
  margin-top: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-top: 1px solid #eee;
  padding-top: 20px;
}

.total,
.tax {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
}

.checkout {
  padding: 12px;
  background-color: #9dd558;
  color: white;
  border: none;
  border-radius: 12px;
  font-weight: bold;
  cursor: pointer;
}
